*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
}
body{
    background-color: #F5F7FA;
    scroll-behavior: smooth;
}
header{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 1;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header nav ul li a{
    font-size: 18px;
    color: #89939E;
}
header nav ul li a#register_btn{
    background-color: #43A046;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
header nav ul li a#register_btn:hover{
    box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
    -moz-box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
}
header nav ul li a#register_btn i{
    color: white;
    padding-left: 10px;
}
/* ========= Hum Burgger Start ========== */
header nav .hum-burgger{
    display: none;
}
header nav .hum-burgger i{
    font-size: 25px;
    background-color: #43A046;
    color: white;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
/* ========= Hum Burgger End ========== */

/* ========= Home Section Start ========== */
#home{
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
#home .content{
    display: block;
        z-index: -99;
}
#home .content h1{
    font-size: 4rem;
    word-spacing: 10px;
    color: #4D4D4D;
}
#home .content h1 span{
    color: #43A046;
    display: block;
}
#home .content p{
    margin-top: 20px;
    font-size: 18px;
    color: #4D4D4D;
}
#home .content .btn button{
    background-color: #43A046;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
#home .content .btn button:hover{
    box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
    -moz-box-shadow: 0px 0px 5px 2px rgba(67,160,70,0.73);
}
/* ========= Home Section End ========== */

/* ============ responsive Header for Mobile =========== */
/* For 1024px Screen */
@media (max-width:1024px) {
    header nav ul{
        gap: 20px;
    }
    header nav ul li a{
        font-size: 18px;
    }
    header nav ul li a#register_btn{
        padding: 10px;
    }
    /* home section resposive start */
    #home{
        padding: 0 50px;
    }
    /* home section resposive end */
}
/* For 768px Screen */
@media (max-width:768px) {
    header nav ul{
        background-color: #F5F7FA;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
        padding: 20px 0;
        z-index: -1;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }
    header nav .hum-burgger{
        display: block;
    }
    /* home section mobile resposive start  */
    #home .content h1{
        font-size: 3.5rem;
    }
    /* home section mobile resposive end  */
}

